{% extends 'smic/02 hipotesis.html' %}

{% block content %}

<h6>Calificacion de hipotesis</h6>



								<div class="widget worange">
									<div class="widget-head">
										<div class="pull-left">Calificacion de hipotesis compuestas</div>
										<div class="widget-icons pull-right">
											<a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
											<a href="#" class="wclose"><i class="fa fa-times"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="widget-content">
                                        <div class="padd">
                                            <h6>califique las hipotesis compuestas y negativas segun su criterio</h6>
										    <hr />


                                               <form method="POST" class="form-horizontal"  role="form">
                                                      {% csrf_token %}
                                                 {% if form_evaluacion.calificacion_base %}
                                                     <label> Escenario

                                                        {% if form_evaluacion.id_escenario_base %}




                                                             {{ form_evaluacion.id_escenario_base }}

                                                         {% else %}


                                                         {% endif %}

                                                     </label>



                                                        <label>Calificación
                                                            {{ form_evaluacion.calificacion_base }}
                                                        </label>



                                                         <label>Comentarios

                                                            {{ form_evaluacion.comentarios }}

                                                         </label>



                                                         <hr/>

                                                         <div class="form-group">
                                                                  <div class="col-md-offset-2 col-md-8">
                                                                    <button type="submit" class="btn btn-warning">Guardar</button>
                                                                  </div>
                                                         </div>
                                                 {% else %}
                                                <h1>no hay registros</h1>
                                                 {% endif %}
                                                 </form>


                                        </div>
									</div>
                                        <div class="widget-foot">
    										<div class="clearfix">
                                            </div>
									    </div>
                                </div>


{% endblock %}
