{% extends 'smic/02 hipotesis.html' %}

{% block content %}

<h2>Analisis de Hipotesis</h2>

                            <form method="POST">
                                {% csrf_token %}
								<div class="widget worange">
									<div class="widget-head">
										<div class="pull-left">Hipotesis Simples</div>
										<div class="widget-icons pull-right">
											<a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
											<a href="#" class="wclose"><i class="fa fa-times"></i></a>
										</div>
										<div class="clearfix"></div>
									</div>
									<div class="widget-content">
										<table class="table table-bordered ">
											<thead>
												<tr>
												  <th>Id</th>
												  <th>nombre largo</th>
												  <th>nombre corto</th>
												  <th>situacion actual</th>
												  <th>horizonte</th>
												  <th>hipotesis futuro</th>
                                                  <th>probabilidad de ocurrencia (1 tiende a cumplirse, 0 tiende a no cumplirse)</th>
                                                  <th>Revisado</th>
												</tr>
											</thead>
											<tbody>
                                                {% if EscenarioBase %}
                                                {% for EscenarioBase in EscenarioBase %}

                                                    <tr>
                                                        <td>{{ EscenarioBase.id }}</td>
                                                        <td>{{ EscenarioBase.nombre_corto }}</td>
                                                        <td>{{ EscenarioBase.nombre_largo }}</td>
                                                        <td>{{ EscenarioBase.situacion_actual }}</td>
                                                        <td>{{ EscenarioBase.horizonte }}</td>
                                                        <td>{{ EscenarioBase.hipotesis_futuro }}</td>
                                                        <td>


                                                        <select name="calificacion"class="form-control" style="width: 50px;padding-bottom: 3px;padding-top: 3px;padding-left: 4px;padding-right: 4px;">
																<option value="0">0</option>
																<option value="0.1">0.1</option>
																<option value="0.2">0.2</option>
																<option value="0.3">0.3</option>
																<option value="0.4">0.4</option>
																<option value="0.5">0.5</option>
																<option value="0.6">0.6</option>
																<option value="0.7">0.7</option>
																<option value="0.8">0.8</option>
																<option value="0.9">0.9</option>
																<option value="1">1</option>
                                                            </select>
                                                        </td>
                                                        <td>

                                                            {% if EvaluacionBase.calificacion_base == Null %}
                                                                 <button class="btn btn-sm btn-danger"><i class="fa fa-times"></i> </button>

                                                            {% else %}
						                                        <button class="btn btn-sm btn-default"><i class="fa fa-check"></i> </button>

                                                            {% endif %}

                                                        </td>
                                                    </tr>
                                                {% endfor %}

                                                {% else %}
                                                <h1>no hay registros</h1>
                                                {% endif %}

                                                </tbody>
										</table>
									</div>




									<br></br>
                                        <div class="form-group">
                                                          <div class="col-md-offset-2 col-md-8">

                                                            <button type="submit" class="btn btn-warning">Guardar</button>


                                                          </div>
                                        </div>
                             </form>

									<div class="widget-foot">

										<div class="clearfix"></div>
									</div>
								</div>


								<div class="widget wgreen">
              						<div class="widget-head">
									  <div class="pull-left">Comentarios de hipotesis</div>
									  <div class="widget-icons pull-right">
										<a href="#" class="wminimize"><i class="fa fa-chevron-up"></i></a>
										<a href="#" class="wclose"><i class="fa fa-times"></i></a>
									  </div>
									  <div class="clearfix"></div>
									</div>
									<div class="widget-content">
									  <div class="padd">


										<hr />
										<!-- Form starts.  -->
											<form class="form-horizontal" role="form">





												<div class="form-group">
												  <label class="col-md-2 control-label">seleccione la hipotesis</label>
												  <div class="col-md-8">
													<select multiple class="form-control">
													  <option>1</option>
													  <option>2</option>
													  <option>3</option>
													  <option>4</option>
													  <option>5</option>
													</select>
												  </div>
												</div>

												<div class="form-group">
												  <label class="col-md-2 control-label">Comentario</label>
												  <div class="col-md-8">
													<textarea class="form-control" rows="3" placeholder="Comentario"></textarea>
												  </div>
												</div>

												<div class="form-group">
												  <div class="col-md-offset-2 col-md-8">

													<button type="button" class="btn btn-success">Guardar</button>
													<button type="button" class="btn btn-info">Info</button>

												  </div>
												</div>
											</form>
									  </div>
									</div>
								</div>

{% endblock %}